@font-face {
    font-family: 'Squares Bold';
    src: url('Squares Bold Free.otf');
    font-weight: bold;
  }
*{
    font-family: 'Squares Bold';
}
html {
    scroll-behavior: smooth;
  }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('banner card.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 100%;
    transition: 0.5s;
    z-index: 1000;
}
header .logo {
    position: relative;
    color:#f0ba3b;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    margin-left: 1.5ch;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3ch;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    color: #f0ba3b;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
header ul li a:hover{
    background-color: #fa6161;
    color: black;
    box-shadow: 0 0 10px #fa6161;
    transition: all 0.18s ease-in;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
}
.banner .teaser{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3.5em;
}

.banner .teaser .content h2{
    font-size: 2em;
    color: #f0ba3b;
    text-shadow: 0 0 100px black;
    font-weight: 700;
    letter-spacing: 1px;

}
.banner .teaser .content p{
    color: #bababa;
    text-shadow: 0 0 100px black;
    font-weight: 700;
    letter-spacing: 1px;
}

.Reviews .Reviewscontent{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 3.5em;
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.about .aboutcontent{

    color: #bababa;
    text-shadow: 0 0 100px black;
    font-weight: 700;
   
    text-align: center;
    
}

.about .aboutcontent h1{
    color: #f0ba3b;
    font-size: 30px;
    text-shadow: 0 0 100px black;
    font-weight: 700;
}

.Store .Storecontent{
    text-align: left;
    display: flex;
}

.Store .Storecontent h1{
    color: #f0ba3b;
    font-size: 30px;
    text-shadow: 0 0 100px black;
    font-weight: 700;
}

.Store .Storecontent h2{
    color: #bababa;
    text-shadow: 0 0 100px black;
    font-weight: 700;
}

.Store .Storecontent h3{
    color: #bababa;
    text-shadow: 0 0 100px black;
    font-weight: 700;
}

.AvailablityRegion .AvailablityRegioncontent{
    justify-content: center;
    align-items: center;
    display: flex;
}

.AvailablityRegion .AvailablityRegioncontent h1{
    color: #f0ba3b;
    font-size: 30px;
    text-shadow: 0 0 100px black;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

.AvailablityRegion .AvailablityRegioncontentPicture{
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}
.content {
    background-color: #00000046;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    width: 50%;
    height: 100%;
    transition: all 0.18s ease-in; 
}

.content:hover {
    background-color: #000000c5; 
    border-radius: 12px;        
 

}